.textfield {
  width: 440px;
}



@media (max-width: 702px) {
  .mainbutton {
    text-align: center;
    justify-content: end;
    width: 95%;
  }
}

@media (max-width: 702px) {
  .textfield {
    width: 100%;
  }
} ;
