.navbar {
  position: sticky;
  top: 0;
}
.button1 {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffdf3f85;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 90px;
  
  padding: 0 23px;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  font-weight: 400px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.02em;
  text-align: end;
  margin-right: 2px;
}

.button2 {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00000085;
  color: rgb(210, 215, 55);
  border-radius: 30px;
  border: none;
  height: 40px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  font-weight: 400px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.02em;
  text-align: end;
}




